<div>
  <!-- <md-toolbar color="">
     <span class="title1">Smart Kiosk for Diagnosis System</span>

    <div class="user"> <md-icon class="account">account_circle</md-icon><p style="padding:2mm">MS.SARUNYA W.</p> </div>
  </md-toolbar> -->



  <!-- <img src="http://images.clipartpanda.com/bat-wings-clipart-happy-monster-clipart.png" class="md-card-image" alt="image caption" />  -->
  <a class="logo" href="http://www.mx7.com/view2/AblVysIZSwdf43Oz" target="_blank">
    <img border="0" src="http://www.mx7.com/i/183/mM4oTp.png" style="width:20%" />
  </a>


  <md-card class="frame">
    <h1>Sign in</h1>

    <form class="example-form">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="ID" value="">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Password" value="">
      </md-form-field>
    </form>

    <p>forget password?</p>
    <br>
    <button md-button class="sign">Sign in</button>
    <br>
    <button md-button class="sign">Sign up</button>


  </md-card>

  <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>


</div>